$window-bg-color: #cfe2f3;
$window-border-color: #9fc5e8;
$window-hover-color: #c5c5c5;

.window {
    height: 95px;
    background: url(../../../images/cookie.png) no-repeat $window-bg-color;
    background-position: 200px;
    background-size: 100%;
    border: 4px solid $window-border-color;
    border-radius: 50%;
    cursor: grab;
    transition: 1s;
    width: 95px;

    &:hover{
        background-color:rgba(0,0,0,0);
        background-color:$window-hover-color;
    }
}
